body {
    background-color: #ffffff;
    font-size: 16px;
}

/* ヘッダー内logoutボタンのスタイルはadmin.blade.phpで設定 */

.admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 40px auto;
}

.admin__title {
    margin: 0 auto 30px auto;
    color: #8b7969;
    font-size: 35px;
    text-align: center;
}

/* フォーム */

.admin__search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}
.admin__search-form--input {
    width: 30%;
    padding: 0 25px;
    border: 1px solid #e3ded9;
    background-color: #fbfbfb;
    color: #beb1a6ff;
}

.admin__search-form--select,
.admin__search-form--date {
    padding: 0 15px;
    border: 1px solid #e3ded9;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='20' viewBox='0 0 17 20'%3E%3Cpath fill='%23E0DFDE' d='M8.5 15L2 7h13L8.5 15z'/%3E%3C/svg%3E");
    background-position: right 10px center;
    background-size: 17px 20px;
    background-repeat: no-repeat;
    background-color: #f4f4f4;
    color: #8b7969;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.admin__search-form--date {
    height: 40px;
    padding: 0 15px;
    border: 1px solid #e3ded9;
    background-color: #f4f4f4;
    color: #8b7969;
    font-family: "Inika", "Noto Sans JP", sans-serif;
}

.admin__search-form--date::-webkit-calendar-picker-indicator {
    opacity: 0;
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    cursor: pointer;
}

.admin__search-form--btn-submit {
    width: 100px;
    border: none;
    background-color: #8b7969;
    color: #ffffff;
}

.admin__search-form--btn-reset {
    width: 100px;
    border: none;
    background-color: #d9c6b5;
    color: #ffffff;
}

/* メニュー */

.admin__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.admin__btn-export {
    width: 150px;
    height: 40px;
    overflow: visible;
    border: none;
    background-color: #e1dbd6;
    color: #8b7969;
}

.admin__pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.pagination {
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: auto;
    margin: 0;
}

.pagination li {
    min-width: 33px;
    text-align: center;
}

.pagination .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0;
    border-radius: 0;
    color: #8b7969;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
}

.pagination .page-item.active .page-link {
    border: none;
    background-color: #8b7969;
    color: #ffffff;
}

.pagination .page-item.disabled .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: #d9c6b5;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
    font-size: 20px;
    font-family: "Inka" serif;
}

.pagination .page-link:hover {
    background-color: #d9c6b5;
    color: #ffffff;
}

/* テーブル */

.admin__table {
    width: 100%;
    height: 40px;
    border: 1px solid #e0dfde;
    font-size: 18px;
    text-align: left;
}

.admin__table th,
.admin__table td {
    min-height: 60px;
    padding: 10px;
    word-wrap: break-word;
    vertical-align: middle;

    overflow-wrap: break-word;
}

.admin__table th {
    background-color: #8b7969;
    color: #ffffff;
}
.admin__table td {
    border-bottom: 1px solid #e0dfde;
    background-color: #ffffff;
    color: #8b7969;
}

.admin__table th:first-child,
.admin__table td:first-child {
    padding-left: 3%;
}

.admin__table th:last-child,
.admin__table td:last-child {
    padding-right: 3%;
}

.admin__table button.admin__table--detail {
    width: 70px;
    height: 35px;
    border: 1px solid #d9c6b599;
    background-color: #f4f4f44d;
    color: #d9c6b5;
    font-size: 16px;
}

/* モーダル */

.modal-backdrop {
    background-color: transparent;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    max-width: 90%;
    max-height: 85vh;
    border-radius: 0;
}

.modal-header {
    border: none;
}

.modal-header .btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px 10px auto auto;
    border: 1px solid #8b7969;
    border-radius: 50%;
    background-color: #ffffff;
}

.modal-table {
    max-width: 640px;
    min-height: 400px;
    max-height: 70vh;
    margin: 20px auto;
    overflow-y: auto;
    border: none;
    font-size: 18px;
    text-align: left;
    border-collapse: collapse;
}

.modal-table th,
.modal-table td {
    min-height: 60px;
    background-color: #ffffff;
    color: #8b7969;
    word-wrap: break-word;
    vertical-align: top;

    overflow-wrap: break-word;
}

.modal-table th {
    width: 200px;
    text-align: left;
}

.modal-table td {
    min-width: 410px;
    border-bottom: none;
    text-align: left;
}

.modal-delete-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 70px;
}

.btn-delete {
    width: 75px;
    height: 45px;
    border: none;
    border-radius: 0;
    background-color: #ba370d;
    color: #ffffff;
    font-size: 18px;
}
