body {
    background-color: #ffffff;
}

.header__btn {
    color: #d9c6b5;
    text-decoration: none;
}

.admin__title {
    font-size: 35px;
    color: #8b7969;
    text-align: center;
    margin: 60px;
}

.admin__form {
    width: 100%;
    height: 100%;
    max-width: 445px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
