body {
    font-family: "Inika", "Noto Sans JP", sans-serif;
}

.header {
    position: relative;
    z-index: 10;
    height: 100px;
    border-bottom: 1px solid #e0dfde;
    background: #ffffff;
    font-family: "Inika", serif;
}

.header__inner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 20px 15px;
}

.header-utilities {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    margin: 0 auto;
    color: #8b7969;
    font-size: 40px;
    text-decoration: none;
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    z-index: 1;
    width: 100px;
    height: 34px;
    border: #d9c6b5;
    background-color: #f0f0f0;
}

.header-nav__item {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
